In [1]:
# Resources
# https://pypi.org/project/graphviz/

In [2]:
import pandas as pd
import graphviz
import string

In [3]:
df = pd.read_excel('Raw Data\Mock Data.xlsx')

In [4]:
df

   Empleado                Cargo    Cuenta Contacto 1 Contacto 2 Contacto 3
0      Luis         Data Analyst      Coca     Javier      Diego   Fernando
1    Andres  Senior Data Analyst      Coca     Javier      Diego       Juan
2    Carlos         Data Analyst   Avianca    Julieta      Diego    Eduardo
3     Fabio        Data Engineer   Avianca    Julieta      Diego     Karina
4    Andrea         Data Analyst   Avianca    Julieta      Diego    Eduardo
5  Carolina         Data Analyst  Publicis    Julieta       Jose    Eduardo
6     Pedro        Data Engineer     Spark    Julieta       Jose      Pablo
7     Laura  Senior Data Analyst     Spark    Julieta       Jose   Isabella
8     Maria  Senior Data Analyst     Spark    Julieta       Jose   Isabella

In [5]:
accounts = df['Cuenta'].unique()
accounts[0]

'Coca'

In [6]:
next_line = r'\n'
next_line

'\\n'

In [7]:
for a in range(len(accounts)):

    dot = graphviz.Digraph(comment=accounts[a])
    dot  #doctest: +ELLIPSIS

    node_count = 1

    alphabet = list(string.ascii_uppercase)

    for i in df.index:
        contact1 = df['Contacto 1'][i]
        contact2 = df['Contacto 2'][i]
        contact3 = df['Contacto 3'][i]

        employee = df['Empleado'][i]
        position = df['Cargo'][i]   

        dot.node('A', accounts[a])

        if df['Cuenta'][i] == accounts[a]:
            node2 = alphabet[node_count]
            dot.node(alphabet[node_count], f'{contact1}{next_line}{contact2}{next_line}{contact3}')
            node_count +=1

            node3 = alphabet[node_count]
            dot.node(alphabet[node_count], f'{employee}{next_line}{position}')
            node_count +=1

            dot.edges([f'A{node2}', f'{node2}{node3}'])

    #print(dot.source)

    dot.render(f'doctest-output/{accounts[a]}').replace('\\', '/')